.ng-dirty.ng-valid {
    border color: green;
}
.ng-dirty.ng-invalid {
    border color: red;
}

.user-info-group > .field-container:nth-of-type(2n+1) {
    clear: left;
}

.user-info-group .field-container input {
    margin: 0.5em 0 0.5em 0;
}

.user-info-group > .field-container {
    float: left;
    width: 50%;
    padding: 0 2em 0 2em;
}

.user-info-group {
    padding: 0.5em;
}

.payment-processor-block ul.paymentProcessor {
    list-style: none !important;
    display: flex;
    padding: 0px;
    margin: 0px;
}

ul.paymentProcessor li {
    float: left !important;
    padding: 5px 0 10px 35px;
}

.payment-processor-group {
    border: 1px solid #bbbbbb !important;
    overflow: hidden;
    padding: 0 0.5em;
    margin-bottom: 0.2em;
    position: relative;
    width: 100%;
    height:64px;
    background: white;
}

.single-input-block label {
    display: none !important;
}

.credit_card_type-section {
    float: left;
    width: auto;
    border-style: none !Important;
}
.credit_card_type-section a {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 15px;
}
.single-input-block{
    float: left;
    width: 22%;
}

.single-input-block input{
    float: left;
    //background: transparent;
    border: none !important;
    box-shadow: none;
    outline: 0;
    padding: 1em 0;
}

button {
    padding: 1em;
    padding: 0.8em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    background: #3b7840;
    font-weight: bold !important;
    color: #fff !important;
    border-radius : 8px;
    font-size: 1.3em !important;
}

button:hover {
    background: #e9bd1d;
}

.parsley-errors-list.filled {
    color: #b94a48;
    font-size: 1em;
    padding: 0.2em;
    list-style: none;
}

.priceSet input[type=radio] {
    display: none;
}

ul.priceSet {
    display: table;
    list-style: none !important;
}

ul.priceSet li{
    display: flex;
    margin-right: 2px;
}
.priceSet input[type=text] {
    border :1px solid #3b7840;
    width: 100%;
    border-radius : 8px;
    font-size: 1.0em;
}

.priceSet label {
    font-size: 1.4em;
    background: #3b7840;
    font-weight: normal;
    color: #fff;
    padding-left: 2.0em;
    padding-right: 2.0em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: center;
    border-radius: 8px;
    width: 100%;
}

.priceSet label:hover {
    background: #1B8A39;
}

.priceSet li .active {
    background: #e9bd1d;
    color: #171303;
    text-shadow: none;
}

.priceSetMessage {
    font-weight: bold;
    margin-left: 30px;
    font-size: 1.1em;
}
.form-step {
    font-weight: bold;
    background: #ddd;
    color: gray;
    padding: 0.4em 0.5em;
    line-height: 1;
    border-radius: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}

.form-head, .form-head span.message{
    font-size: 1.4em !important;
    font-weight: bold !important;
}

.icon {
    background-image: url("../i/icons/jquery-ui-52534D.png");
    background-position: 485px 243px;
}
