.field-container select {
    border: 1px solid #ddd !important;
    border-radius : 8px !important;
    height: 46px;
}

#page-title {
    color: #006699;
}

#content {
    width: 720px;
    margin: 0 auto;
}

.breadcrumb {
    margin: 0 auto !important;
    width: 755px;
}

.field-padding {
    padding-right:30px !important;
}

#branding h1.page-title {
  float: none !important;
  width: 755px !important;
  margin: 0 auto;
}

div.add-or-remove-shortcuts {
  float: none !important;
  padding : none !important;
  margin: 0 auto !important;
  width: 780px;
}

.simpleDonationForm {
  background: none !important;
  border-top: 1px solid #006699 !important;
  border-radius: 0px !important;
}

.crm-container fieldset {
  border-radius: 0px !important;
}

.recurDonation {
  padding-left: 16px;
}

.recurDonation label:hover {
  color: #006699 !important;
}

.ng-dirty .ng-valid:focus,
.ng-dirty .ng-invalid:focus,
.ng-pristine .ng-valid:focus,
.ng-pristine .ng-invalid:focus {
    box-shadow: none !important;
}

.ng-scope .blockIsValid, .ng-scope .parsley-success {
    border-color: #089e00 !important;
}

.ng-invalid .shake, .ng-scope .blockInValid, .ng-scope .parsley-error {
    border-color: #b94a48 !important;
}

.help-block {
    color: #b94a48 !important;
}

fieldset.priceset-group {
    border: none !important;
}

fieldset.priceset-group {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    max-height: 50em !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    text-align: left !important;
    transition-delay: 0s !important;
    transition-duration: 0.5s;
    transition-property: max-height;
    transition-timing-function: ease-out;
}

.recurLabel {
    font-size: 1.3em;
}

.user-info-group > .field-container:nth-of-type(2n+1) {
    clear: left;
}

.user-info-group > .field-container {
    padding-right: 45px;
    padding-left: 15px;
}

.payment-processor-block ul.paymentProcessor {
    list-style: none !important;
    display: flex;
    padding-bottom: 1.2em;
    margin: 0px;
}

ul.paymentProcessor li {
    float: left !important;
    padding: 5px 0 10px 35px;
    margin-left: 6px !important;
    margin-right: 20px !important;
    padding: 0 !important;
}

ul.paymentProcessor
{
    padding: 0 !important;
}

.payment-processor-group {
    border: 1px solid #ddd !important;
    overflow: hidden;
    padding: 0 0.5em;
    margin-bottom: 0.2em;
    position: relative;
    width: 98% !important;
    height:64px;
    background: white;
    border-radius : 8px;
    margin-left: 5px;
}

.single-input-block label {
    display: none !important;
}

.credit_card_type-section {
    float: left;
    border-style: none !Important;
}

.credit_card_type-section a {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 15px;
}

.single-input-block {
    float: left;
}

.single-input-block input {
    float: left;
    border: none !important;
    box-shadow: none;
    outline: 0;
    height: 58px;
    padding: 0px !important;
    margin: 1px;
}

button {
    padding: 0.8em 1.5em 0.8em;
    background: #BADBEF;
    font-weight: bold !important;
    color: #171303 !important;
    border-radius : 8px;
    font-size: 1.3em !important;
    min-width: 170px;
    margin-left: 3px !important;
    margin-top: 2em !important;
    border: 0 none;
    border-bottom: 2px solid #91a4ad;
    margin-left: 15px !important;
    outline: none;
}

button:hover {
    background: #006699;
    color: #fff !important;
    border-bottom: 2px solid #006699;
}

.parsley-errors-list.filled {
    color: #b94a48;
    font-size: 1em;
    padding: 0.2em;
    list-style: none;
    margin-left: initial;
}

.priceSet input[type=radio] {
    display: none;
}

ul.priceSet, ul.hpriceSet {
    display: table;
    list-style: none !important;
    padding: 0px !important;
    margin-left: 15px !important;
    width: 100%;
}

ul.priceSet li{
    display: flex;
    margin-right: 10px;
    width: auto;
}

ul.hpriceSet li{
    display: table-row !important;
}

ul.hpriceSet li span{
    min-height: 64px !important;
    margin-right: 10px !important;
}

.field-container input {
    border-radius : 8px !important;
    border: 1px solid #ddd !important;
    margin-top: 5px;
}

.field-container label {
    font-weight: bold !important;
    font-size: 1.15em !important;
}

.form-control {
    padding: 6px !important;
}

.priceSet label, .hpriceSet label {
    font-size: 1.4em !important;
    background: #006699;
    font-weight: normal;
    color: #fff;
    padding-left: 2.0em;
    padding-right: 2.0em;
    padding-top: 0.8em;
    padding-bottom: 1.0em;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    width: 150px;
}

.other-amount {
    position: relative;
}

.other-amount .currency-input-addon {
    color: #006699;
    font-size: 1.4em;
    left: 0;
    padding-left: 0.3em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    position: absolute;
    top: 0;
}

.other-amount input[type=text] {
    border : 2px solid #006699 !important;
    border-radius : 10px !important;
    font-size: 1.4em !important;
    color: #006699 !important;
    font-size: 1.4em !important;
    padding-left: 1.2em !important;
    width: 120px;
    padding-top: 5px !important;
    padding-bottom: 8px !important;
}

.html-select {
    font-size: 1.4em !important;
    background-color: #3b7840 !important;
    font-weight: normal !important;
    color: #fff !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
    text-align: center !important;
    border : 2px solid #3b7840 !important;
    border-radius : 10px !important;
    width: 92px;
}

.html-inputs input[type=radio],
.html-inputs input[type=checkbox] {
    display: none !important;
}

.html-inputs label:hover {
    background: #47844C !important;
}

.html-inputs li .active {
    background: #e9bd1d !important;
    color: #171303 !important;
    text-shadow: none !important;
}

.priceSet label:hover {
    background: #0077b3;
}

.priceSet li .active {
    background: #66cc66;
    color: #171303;
    text-shadow: none;
}

.priceSetMessage {
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 1.2em;
}

.form-step {
    background: #ddd;
    color: #808080;
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
    width: 30px;
    text-align: center;
}

.form-head, .form-head span.message {
    font-size: 1.4em !important;
    font-weight: bold !important;
}

.donate-step-legend {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

.container {
    width: 100% !important;
}

.next-icons {
    background-image: url("../icons/jquery-ui-3E3E3E.gif") !important;
    background-position: 227px 3px !important;
}

button:hover .next-icons {
    background-image: url("../icons/jquery-ui-FFFFFF.png") !important;
}

.payment-processor-type label {
    font-size: 1.2em !important;
    vertical-align: middle;
}

.payment-processor-type label:hover {
    color: #006699;
}

.recurDonation label:hover {
    color: #3b7840;
}

.loading, button:hover .loading {
  background-image: url("../icons/loading.gif") no-repeat 0px 0px;
}

::-moz-placeholder {
    color: #bbb !important;
}

::-webkit-input-placeholder {
    color: #bbb !important;
}

.breadcrumb {
  display: none;
}

.shake {
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake; }

/* ======================================
 * ANIMATIONS
 * ======================================
 */
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0); }

  30%, 60% {
    -webkit-transform: translateX(-10px); }

  40%, 80% {
    -webkit-transform: translateX(10px); } }
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0); }

  30%, 60% {
    -moz-transform: translateX(-10px); }

  40%, 80% {
    -moz-transform: translateX(10px); } }
@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0); }

  30%, 60% {
    -o-transform: translateX(-10px); }

  40%, 80% {
    -o-transform: translateX(10px); } }
@keyframes shake {
  0%, 100% {
    transform: translateX(0); }

  30%, 60% {
    transform: translateX(-10px); }

  40%, 80% {
    transform: translateX(10px); } }

/* SmartPhones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.other-amount {
    bottom: 15px;
}
.other-amount input[type=text] {
    padding-top: 7px !important;
    padding-bottom: 8px !important;
}
.other-amount .currency-input-addon {
    padding-top: 1.0em;
}
ul.priceSet li{
    height: 64px;
}
#branding {
    padding: 20px 115px 0 115px !important;
    background: #006699 !important;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.other-amount {
    bottom: 16px;
}
.other-amount input[type=text] {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.other-amount .currency-input-addon {
    padding-top: 1.0em;
}
ul.priceSet li {
    height: 64px;
}
#branding {
    padding: 20px 115px 0 115px !important;
    background: #006699 !important;
}
}
