<!--
Controller: DonationAngCtrl
-->
<form name="quickDonationForm" id="quickDonationForm" novalidate>
  <div class="crm-block crm-form-block crmCaseType">
    <!--Price field Block-->
    <fieldset class="priceset-group">

    </fieldset>
    <!--User Information-->
    <fieldset class="user-info-group">
      <legend>Enter your information:</legend>
      <div class="form-group">
        <strong>Full Name</strong>
        <input type="text" class="form-control" ng-model="formInfo.user" data-parsley-trigger="keyup" placeholder="Firstname Lastname" required />
      </div>
      <div class="form-group">
        <strong>E-mail</strong>
        <input type="email" class="form-control" ng-model="formInfo.email" data-parsley-trigger="keyup" placeholder="your@email.com" required />
      </div>
      <div class="form-group">
        <strong>Address</strong>
        <input type="text" class="form-control" ng-model="formInfo.address" data-parsley-trigger="keyup" placeholder="123 Main St, Apt 2" required />
      </div>
      <div class="form-group">
        <strong>ZIP</strong>
        <input data-parsley-type="number" data-parsley-minlength="5" class="form-control" data-parsley-trigger="keyup" ng-model="formInfo.zip" placeholder="15201" required />
      </div>
      <div class="form-group">
        <strong>Country</strong>
        <input type="text" class="form-control" ng-model="formInfo.country" id="country">
      </div>
      <div class="form-group">
        <strong>State</strong>
        <input type="text" class="form-control" ng-model="formInfo.state" id="state">
      </div>
  </div>
  </fieldset>
  <!--Credit Card Information-->
  <fieldset class="credit-card-group">

  </fieldset>
</form>

