<!--
Controller: SimpleDonationCtrl
-->
<form class="row" name="simpleDonationForm" id="simpleDonationForm" role="form" ng-submit="saveData()" novalidate>
  <div class="crm-block crm-form-block simpleDonationForm">
    <!--Price field Block-->
    <fieldset class="priceset-group form-section col-sm-12" ng-show="selectedSection(1)">
      <h4 class="form-head donate-step-legend col-sm-12"><span class="form-step">1</span> Choose an amount to donate:</h4>
      <div ng-if="quickConfig">
        <div class="priceSetMessage col-sm-12" ng-hide="hidePriceVal">Donation amount: {{currencySymbol}} <span ng-bind="formInfo.donateAmount"></span></div>
        <ul class="priceSet col-sm-12">
          <li class="pull-left" ng-mouseover="amounthover(price.amount)" ng-repeat="price in priceListInfo" ng-click="amountSelected(price.amount)">
            <input ng-model="formInfo.donateAmount" type="radio" name="donate-amount-{{price.name}}" id="donate-amount" data-parsley-multiple="donate-amount" ng-checked="{{price.is_default}}" value="{{price.amount}}" radio-icon/><label ng-class="{'active':amountActive(price.amount) || amountDefault(price.amount, price.is_default)}" radio-label>{{currencySymbol}} {{price.amount}}</label>
          </li>
          <li class="pull-left other-amount" ng-if="otherAmount">
            <span class="currency-input-addon">{{currencySymbol}}</span>
            <input ng-model="formInfo.otherAmount" class="form-control" type="text" placeholder=" Other" ng-click="amountSelected()" ng-keyup="formInfo.donateAmount=formInfo.otherAmount"/>
          </li>
        </ul>
      </div>

      <div class="html-inputs" ng-if="quickConfig == 0">
        <div class="priceSetMessage col-sm-12" ng-hide="hidePriceVal">Donation amount: {{currencySymbol}} <span ng-bind="subtleAmount"></span></div>
        <ul class="hpriceSet col-sm-12">
          <li ng-repeat="(hk, hprices) in htmlPriceList">
            <span class="pull-left" ng-if="hk==='Select'">
              <select class="html-select" ng-class="{'active':formInfo.selectDonateAmount}" ng-model="formInfo.selectDonateAmount" ng-options="hpv.amount as hpv.name for (hpk,hpv) in hprices" ng-change="hamountClick()"><option value="0">- Select -</option></select>
            </span>
            <span class="pull-left" ng-repeat="hprice in hprices">
              <span class="pull-left" ng-if="hk==='CheckBox'">
                <input name="donate-amount-{{hprice.name}}" id="donate-amount-{{hprice.name}}" type="checkbox" id="donate-amount-{{hprice.name}}" data-parsley-multiple="donate-amount" ng-checked="{{hprice.is_default}}" value="{{hprice.amount}}"/>
                <label for="donate-amount-{{hprice.name}}" ng-mouseenter="hamountEnter(hprice.amount)" ng-mouseleave="hamountLeave(hprice.amount)" checkbx-label>{{currencySymbol}} {{hprice.amount}}</label>
              </span>
              <span class="pull-left" ng-if="hk==='Radio'">
                <input ng-model="formInfo.radioDonateAmount" name="donate-amount-{{hprice.name}}" type="{{hk}}" id="donate-amount-{{hprice.name}}" data-parsley-multiple="donate-amount" ng-checked="{{hprice.is_default}}" value="{{hprice.amount}}" radio-icon/>
                <label for="donate-amount-{{hprice.name}}" ng-mouseenter="hamountEnter(hprice.amount,'radio')" ng-mouseleave="hamountLeave(hprice.amount,'radio')" ng-click="hamountClick(hprice.amount,'radio')" hradio-label>{{currencySymbol}} {{hprice.amount}}</label>
              </span>
              <span class="pull-left other-amount" ng-if="hk==='Text'">
                <span class="currency-input-addon">{{currencySymbol}}</span>
                <input class="form-control" ng-model="formInfo.textDonateAmount" name="donate-amount-{{hprice.name}}" type="text" id="donate-amount-{{hprice.name}}" data-parsley-multiple="donate-amount" ng-change="hamountClick()" placeholder=" {{hprice.name}}"/>
              </span>
            </span>
          </li>
        </ul>
      </div>

      <!-- Recurring donation block -->
      <div class="recurDonation" ng-if="donationConfig.is_recur">
	<input type="checkbox" ng-model="formInfo.recur" name="isRecur" id="isRecur" ng-true-value="1" ng-false-value="0" ng-change=""/><label for="isRecur" class="recurLabel"> I would like to make this a monthly donation.</label>
      </div>
    </fieldset>

    <!--User Information-->
    <fieldset class="user-info-group form-section col-sm-12" ng-show="selectedSection(2)">
      <h4 class="form-head donate-step-legend col-sm-12"><span class="form-step">2</span> Enter your information:</h4>
      <div class="form-group field-container col-sm-6">
        <label>Full Name</label>
        <input type="text" id="user" class="form-control" ng-model="formInfo.user" data-parsley-pattern="\ " pattern="\ " data-parsley-trigger="focusout blur" name="user" placeholder="Firstname Lastname" required />
      </div>
      <div class="form-group field-container col-sm-6">
        <label>E-mail</label>
        <input type="email" id="email" class="form-control" ng-model="formInfo.email" data-parsley-trigger="focusout" placeholder="your@email.com" name="email" required />
      </div>
      <div class="form-group field-container col-sm-6">
        <label>Address</label>
        <input type="text" id="address" class="form-control" ng-model="formInfo.address" data-parsley-trigger="focusout" placeholder="123 Main St, Apt 2" name="address" required />
      </div>
      <div class="form-group field-container col-sm-6">
        <label>ZIP</label>
        <input zip-code-info  data-parsley-type="number" data-parsley-minlength="5" class="form-control" data-parsley-trigger="focusout" ng-model="formInfo.zip" placeholder="15201" id="zip" name="zip" required />
      </div>
      <div class="form-group field-padding field-container col-sm-6">
        <label>Country</label>
        <select name="country" class="form-control col-sm-6" id="country" data-ng-model="formInfo.country" data-parsley-trigger="change" ng-options="countryId as countryLabel for (countryId,countryLabel) in countryList" data-parsley-required><option value=''>--select country--</option></select>
      </div>
      <div class="form-group field-padding field-container col-sm-6">
        <label>State</label>
        <select check-state-valid name = 'stateList' class="form-control col-sm-6" id="stateList" ng-disabled="!formInfo.country" ng-model="formInfo.stateList" data-parsley-trigger="change" ng-options="stateId as stateLabel for (stateId,stateLabel) in stateList[formInfo.country]" data-parsley-required><option value=''>--select state--</option></select>
      </div>
      <div class="form-group field-container col-sm-6">
        <label>City</label>
        <input type="text" class="form-control" ng-model="formInfo.city" data-parsley-trigger="focusin focusout" id="city" placeholder="Pittsburgh" name="city" required/>
      </div>
      <div class="form-group field-container col-sm-6">
        <label>State</label>
        <input type="text" class="form-control" ng-model="formInfo.state" data-parsley-trigger="focusin focusout" id="state" placeholder="PA" name="state" required/>
      </div>
    </fieldset>


    <!--Credit card information-->
    <fieldset class="payment-processor-gr form-section col-sm-12" ng-show="selectedSection(3)">
      <h4 class="form-head donate-step-legend col-sm-12"><span class="form-step">3</span> Credit Card Information</h4>

      <div class="form-group payment-processor-block col-sm-12">
        <ul class="paymentProcessor col-sm-12">
          <li class="payment-processor-type" ng-repeat="type in paymentProcessor" ng-hide="type.hide">
            <input class="form-radio" id="{{type.name}}" ng-model="formInfo.payment_processor" type="radio" name="{{type.payment_processor}}" data-parsley-multiple="payment-processor" value="{{type.id}}" ng-change="setPaymentBlock({{type.id}})" ng-class="{active:processorDefault(type.id,type.is_default)}"/>
            <label for="{{type.name}}" class="control-label">{{type.name}}</label>
          </li>
          <li class="payment-processor-type" ng-if="donationConfig.is_pay_later == 1">
            <input class="form-radio" id="payLater" ng-model="formInfo.is_pay_later" type="radio" name="is_pay_later" data-parsley-multiple="payment-processor" value="1" ng-change="setPaymentBlock('payLater')"/>
            <label for="payLater" class="control-label">{{donationConfig.pay_later_text}}</label>
          </li>
	</ul>
      </div>

      <div class="col-sm-12">
	<div class="payment-block credit-card-fields-block payment-processor-group" ng-if="creditType">
          <div class="crm-section credit_card_type-section col-sm-1">
            <div class="crm-credit_card_type-icons">
              <a class="crm-credit_card_type-icon-no" ng-hide="selectedRow" title="Undefined"><span></span></a>
              <a class="crm-credit_card_type-icon-visa" title="Visa" ng-show='"Visa"==selectedRow'><span>Visa</span></a>
              <a class="crm-credit_card_type-icon-mastercard" title="MasterCard" ng-show='"MasterCard"==selectedRow'><span>MasterCard</span></a>
              <a class="crm-credit_card_type-icon-amex" title="Amex" ng-show='"Amex"==selectedRow'><span>Amex</span></a>
              <a class="crm-credit_card_type-icon-discover" title="Discover" ng-show='"Discover"==selectedRow'><span>Discover</span></a>
              <a class="crm-credit_card_type-icon-cvv2-icon cvv2-icon" title="CVV" ng-show='"cvv2"==selectedRow'><span>CVV</span></a>
            </div>
          </div>
          <div class="form-group single-input-block col-sm-5" ng-class="{ 'has-error' : simpleDonationForm.cardNumber.$invalid && !simpleDonationForm.cardNumber.$pristine && ccType}">
            <label>Card Number</label>
            <input data-parsley-errors-messages-disabled type="text" name="cardNumber" class="form-control cardNumber" ng-model="formInfo.cardNumberValue" data-encrypted-name="cardNumber" required data-credit-card-type autocomplete="off" data-parsley-errors-container=".errorBlock" ng-focus="selectedCardType(atype)" data-parsley-trigger="focusin focusout" placeholder="1234 5678 9012 3456"/>
          </div>
          <div class="form-group single-input-block col-sm-2" ng-show="simpleDonationForm.cardNumber.$valid && !simpleDonationForm.cardNumber.$pristine " ng-class="{ 'has-error' : simpleDonationForm.cardExpiry.$invalid && !simpleDonationForm.cardExpiry.$pristine }">
            <label>Expiration Date </label>
            <input data-parsley-errors-messages-disabled valid-credit-block data-ng-minlength="4" placeholder="MM/YY" data-ng-pattern="/^[0-9]*/" type="text" ng-model="formInfo.cardExpiry" class="form-control" id="card-expiration" name="cardExpiry" ng-focus="selectedCardType(atype)" required data-credit-card-expiry data-parsley-errors-container=".errorBlock">
          </div>
          <div class="form-group single-input-block col-sm-2" ng-class="{'has-error':simpleDonationForm.securityCode.$invalid && !simpleDonationForm.securityCode.$pristine}" ng-show="simpleDonationForm.cardNumber.$valid && !simpleDonationForm.cardNumber.$pristine ">
            <label>Security Code </label>
            <input data-parsley-errors-messages-disabled valid-credit-block type="text" name="securityCode"  id="securityCode" class="form-control" ng-model="formInfo.securityCode" required data-ng-pattern="/^[0-9]+$/" data-ng-minlength="3" maxlength="3" autocomplete="off" ng-focus="selectedCardType('cvv2')" data-parsley-errors-container=".errorBlock" placeholder="CVV" data-security-code>
          </div>
	</div>
	<div class="payment-block direct-debit-fields-block" ng-if="directDebitType">
          <div class="form-group" ng-class="{ 'has-error' : simpleDonationForm.accountHolder.$invalid && !simpleDonationForm.cardNumber.$pristine }" >
            <label>Account Holder</label>
            <input type="text" name="accountHolder" class="form-control accountHolder" ng-model="formInfo.accountHolder" data-encrypted-name="accountHolder" required maxlength="34" autocomplete="on"  />
          </div>
          <div class="form-group" ng-class="{ 'has-error' : simpleDonationForm.bankAccountNumber.$invalid && !simpleDonationForm.bankAccountNumber.$pristine }">
            <label>Bank Account Number</label>
            <input type="text" name="bankAccountNumber" class="form-control bankAccountNumber" ng-model="formInfo.bankAccountNumber" data-encrypted-name="bankAccountNumber" required data-ng-pattern="/^[0-9]+$/" maxlength="34" autocomplete="off"  />
          </div>
          <div class="form-group" ng-class="{ 'has-error' : simpleDonationForm.bankID.$invalid && !simpleDonationForm.bankID.$pristine }">
            <label>Bank Identificaiton Number</label>
            <input type="text" name="bankID" class="form-control bankID" ng-model="formInfo.bankID" data-encrypted-name="bankID" required data-ng-pattern="/^[0-9]+$/" axlength="34" autocomplete="off" />
          </div>
          <div class="form-group" ng-class="{ 'has-error' : simpleDonationForm.bankName.$invalid && !simpleDonationForm.bankName.$pristine }">
            <label>Bank Name</label>
            <input type="text" name="bankName" class="form-control bankName" ng-model="formInfo.bankName" data-encrypted-name="bankName" required maxlength="34" autocomplete="off" />
          </div>
	</div>
	<div class="payment-block hidden-block" ng-if="hiddenProcessor">
	  <input name="hidden_processor" type="hidden" value="1" />
	</div>
	<div class="errorBlock" ng-show="!simpleDonationForm.cardNumber.$valid || !simpleDonationForm.cardExpiry.$valid || !simpleDonationForm.securityCode.$valid" ng-if="creditType || directDebitType">
          <p id = "invalidNumber" ng-show="simpleDonationForm.cardNumber && !simpleDonationForm.cardNumber.$valid || simpleDonationForm.cardNumber.$error.minlength || simpleDonationForm.cardNumber.$error.required">Please enter valid Credit Card Number.</p>
          <p ng-show="(simpleDonationForm.cardNumber.$valid && !simpleDonationForm.cardNumber.$pristine) && (simpleDonationForm.cardExpiry.$invalid || simpleDonationForm.cardExpiry.$error.required || simpleDonationForm.cardExpiry.$error.pattern || simpleDonationForm.cardExpiry.$error.minlength)" >Please enter valid card's expiration month and year.</p>
          <p ng-show="simpleDonationForm.securityCode.$invalid && simpleDonationForm.cardNumber.$valid && simpleDonationForm.cardExpiry.$valid || simpleDonationForm.securityCode.$error.required &&  simpleDonationForm.securityCode.$error.pattern || simpleDonationForm.securityCode.$error.minlength" >Please enter a valid CVV Number.</p>
        </div>
      </div>
    </fieldset>
    <button type="button" class="donate-sub button" ng-click="sectionShow()" ng-hide="section === 3">NEXT STEP<span class="icon next-icons"></span></button>
    <!-- SUBMIT BUTTON -->
    <button ng-click="isCreditValid()" class="donate-submit-btn" enable-button="simpleDonationForm.$pristine" ng-show="selectedSection(3)" > COMPLETE DONATION<span class="icon next-icons"></span></button>
  </div>
</form>
